@import 'tailwindcss';

:root {
  --background-primary: #140c0a;
  --background-secondary: #1d1310;
  --background-cool: #352b28;
  --background-brand-light: #651c06;
  --background-brand-main: #fb584b;
  --background-brand-dark: #c73c19;
  --background-error-light: #650905;
  --background-error-main: #fd433d;
  --background-error-dark: #cf3631;
  --background-disabled: #352b28;
  --background-accent: #eeeff3;
  --background-accent-secondary: #d7d9e1;

  --alpha-blue: #1d62ec33;
  --alpha-red: #ff353533;
  --alpha-orange: #ff6a0033;
  --alpha-orange-info: #ff6a0033;
  --alpha-violet: #7b14e333;
  --alpha-green: #24c68233;

  --border-primary: #241c19;
  --border-brand: #e24a30;
  --border-success: #23c586;
  --border-warning: #fd7125;
  --border-error: #fc524d;

  --text-primary: #f3efee;
  --text-secondary: #ac9a95;
  --text-placeholder: #7a6862;
  --text-disabled: #534440;
  --text-warning: #fd7125;
  --text-error: #fc524d;
  --text-info: #b7b9c7;
  --text-success: #19b076;
  --text-brand-light: #eb8d4d;
  --text-brand-main: #fb584b;
  --text-brand-dark: #c73c19;
  --text-on-brand: #ffffff;
  --text-on-brand-secondary: #534440;
  --text-purple: #8b3deb;
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-cool: var(--background-cool);
  --color-background-brand-light: var(--background-brand-light);
  --color-background-brand-main: var(--background-brand-main);
  --color-background-brand-dark: var(--background-brand-dark);
  --color-background-error-light: var(--background-error-light);
  --color-background-error-main: var(--background-error-main);
  --color-background-error-dark: var(--background-error-dark);
  --color-background-disabled: var(--background-disabled);
  --color-background-accent: var(--background-accent);
  --color-background-accent-secondary: var(--background-accent-secondary);

  --color-border-primary: var(--border-primary);
  --color-border-brand: var(--border-brand);
  --color-border-success: var(--border-success);
  --color-border-warning: var(--border-warning);
  --color-border-error: var(--border-error);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-placeholder: var(--text-placeholder);
  --color-text-disabled: var(--text-disabled);
  --color-text-warning: var(--text-warning);
  --color-text-error: var(--text-error);
  --color-text-info: var(--text-info);
  --color-text-success: var(--text-success);
  --color-text-brand-light: var(--text-brand-light);
  --color-text-brand-main: var(--text-brand-main);
  --color-text-brand-dark: var(--text-brand-dark);
  --color-text-on-brand: var(--text-on-brand);
  --color-text-on-brand-secondary: var(--text-on-brand-secondary);
  --color-text-purple: var(--text-purple);

  --color-alpha-blue: var(--alpha-blue);
  --color-alpha-red: var(--alpha-red);
  --color-alpha-orange: var(--alpha-orange);
  --color-alpha-orange-info: var(--alpha-orange-info);
  --color-alpha-violet: var(--alpha-violet);
  --color-alpha-green: var(--alpha-green);
}

@theme {
  /* Customize Text */
  --text-header-xxl: 4.5rem;
  --text-header-xxl--line-height: 5.625rem;

  --text-header-xl: 3.75rem;
  --text-header-xl--line-height: 4.5rem;

  --text-header-lg: 3rem;
  --text-header-lg--line-height: 3.75rem;

  --text-header-md: 2.25rem;
  --text-header-md--line-height: 3rem;

  --text-header-sm: 1.875rem;
  --text-header-sm--line-height: 2.375rem;

  --text-body-xxl: 1.5rem;
  --text-body-xxl--line-height: 2rem;

  --text-body-xl: 1.25rem;
  --text-body-xl--line-height: 1.875rem;

  --text-body-lg: 1.125rem;
  --text-body-lg--line-height: 1.75rem;

  --text-body-md: 1rem;
  --text-body-md--line-height: 1.5rem;

  --text-body-sm: 0.875rem;
  --text-body-sm--line-height: 1.25rem;

  --text-body-xs: 0.75rem;
  --text-body-xs--line-height: 1.125rem;
}

@layer components {
  .button-primary {
    @apply text-text-on-brand text-body-sm cursor-pointer rounded-lg bg-gradient-to-r from-[#ED8942] to-[#FD4F45] px-4 py-2 font-semibold;
  }

  .button-secondary {
    @apply bg-background-cool text-text-secondary text-body-sm cursor-pointer rounded-lg px-4 py-2 font-semibold;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-white to-[#FFDBDB] bg-clip-text text-transparent;
  }

  .text-gradient-brand {
    @apply bg-gradient-to-r from-[#ED8942] to-[#FD4F45] bg-clip-text text-transparent;
  }
}

@layer utilities {
  .container {
    width: 100%;
    @media (width >= 40rem) {
      max-width: unset;
    }
    @media (width >= 48rem) {
      max-width: unset;
    }
    @media (width >= 64rem) {
      max-width: unset;
    }
    @media (width >= 80rem) {
      max-width: unset;
    }
    @media (width >= 90rem) {
      max-width: 90rem;
    }
  }
}
